// https://github.com/kizu/bemto

include ./bemto/index.pug

//- External links

    Usage: +a("http://example.com") or +a("http://trusted.com", true)
    url     - [string] link reference
    trusted - [boolean] link reference is trusted (default: false)
mixin a(url, trusted)
    a(href=url target="_blank" rel=(!trusted ? "noopener nofollow" : ""))&attributes(attributes)
        block

mixin navigationLink(url, exact, logined)
    - logined = logined || 'logined'
    +e.CUSTOMLINK.navigationItem(v-if=logined :exact=exact :to=`$routes.${url}.path`)
        block

mixin socialLink(socialClass, socialUrl, socialIcon)
    +e.A.social(v-if=socialUrl :href=socialUrl target="_blank" rel="noopener", class=socialClass)
        font-awesome-icon(:icon=['fab', socialIcon])

mixin BaseH1(size)
    - className = `is-${size || 'm'}`
    h1.BaseH1(class=className)&attributes(attributes)
        block

mixin BaseP(size, theme)
    - sizeName = `is-${size || 'm'}`
    - themeName = `is-${theme || 'grey'}`
    .BaseP(:class=[sizeName, themeName])&attributes(attributes)
        block